html {
  box-sizing: border-box;
  position: relative;
}
* {
  box-sizing: inherit;
}

body { 
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  background-color: #fff;
  color: #000 
}
article {
  max-width: 1140px;
  padding-top: 71px;
  padding-bottom: 50px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, p, figure {
  margin: 0;
}
figcaption {
  margin: 0 auto;
}
p:not(:last-child) {
  margin-bottom: 30px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  
}

li:last-child {
  margin-bottom: 0
}

.container {
  padding: 0 30px;
}

.title {
  margin-bottom: 30px;
}
