.rule {
  padding: 25px 0;
}
.rule__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 120%;
}

.rule__part::after {
  content: '';
  display: table;
  clear: both;
}
.rule__img_left {
  max-width: 560px;
  height: 450px;
  float: left;
  margin-right: 30px;
}
.rule__img_right {
  max-width: 560px;
  height: 279px;
  float: right;
  margin-left: 30px;
}


.rule__part:not(:last-child) {
  margin-bottom: 30px;;
}
.image {
  text-align: center;
  margin-bottom: 30px;
}
.rule__img:not(:last-child) {
  margin-bottom: 30px;
}
.image__title {
  text-align: left;
  max-width: 1020px;
}
.bold-italic {
  font-weight: 900;
  font-style: italic;
}
.italic {
  font-style: italic;
}



